.footer {
  background-color: $brown-darker;
  .copyright-container {
    @include outer-container;
    padding: 20px 0;
  }
  .copyright-msg {
    text-align: center;
    font-size: 14px;
    color: white;
  }
}